<link href="comment.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">
<form method="post" action="/comment">

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-10">
                    <h3>Comment</h3>
                    <p>You can leave a comment or let us know if you want to change anything with your name and number.</p>
                    <p></p>

                    <input type="text" placeholder="leave a message" id="comment" name="comment">

                </div>
            </div>

            <input type="submit">

</form>