<head>
    <link rel="stylesheet" href="m.css" type="text/css" />
    <link rel="stylesheet" href="f.css" type="text/css" />

    <img src="cloud.png" width="300px" height="300px" />
    <style>
        .button {
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 20px;
            letter-spacing: 4px;
            position: relative;
            background-color: #16a085;
            border: none;
            color: #fff;
            padding: 20px;
            width: 200px;
            text-align: center;
            transition-duration: 0.4s;
            overflow: hidden;
            box-shadow: 0 5px 15px #193047;
            border-radius: 4px;
        }
        
        .button:hover {
            background: #fff;
            box-shadow: 0px 2px 10px 5px #1abc9c;
            color: #000;
        }
        
        .button:after {
            content: "";
            background: #97b4ae;
            display: block;
            position: absolute;
            padding-top: 300%;
            padding-left: 350%;
            margin-left: -20px !important;
            margin-top: -120%;
            opacity: 0;
            transition: all 0.8s
        }
        
        .button:active:after {
            padding: 0;
            margin: 0;
            opacity: 1;
            transition: 0s
        }
        
        .button:focus {
            outline: 0;
        }
    </style>
</head>

<body>
    <p style="font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center; 
    color:#fff">Google Cloud

    </p>

    <div class="flip">
        <div class="front" style="background-image: url(gc.png)">
            <h1 class="text-shadow">Google Cloud</hi>
        </div>
        <div class="back">
            <h2>Google Cloud</h2>


        </div>
    </div>
    <p style="font-weight: 700;
    color:#fff;
    text-align: left; 
    ">
        Google Cloud Platform is a cloud computing platform provided by Google, offering hosting on the same infrastructure that Google uses internally for products such as its search engine.
    </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff">Google Cloud (also known as Google Cloud Platform or GCP) is a provider of computing resources for the development, deployment and operation of web-based applications.
    </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff">It was first put online in 2008 with the launch of a product called Application Engine and the Application Engine helps customers launch online web applications from there google built and acquired products to improve the user experience of its cloud
        platform

    </p>
    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> Google's global infrastructure currently has 24 locations worldwide


    </p>


    <center>
        <img src="regions.png" />

    </center>

    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> What they have gained over the years:


    </p>


    <center>
        <img src="gain.png" />

    </center>



    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> The cost:


    </p>


    <center>
        <img src="costy.png" style="padding:5em" />

    </center>

    <p style="font-weight: 900;
    text-align: center; 
    color:#fff"> Some of the services offered by Google Cloud include:


    </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 1. Compute: Google Cloud offers a range of services to run cloud applications, including virtual machines, containers and serverless functions.


    </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 2.Storage: Google Cloud offers a range of services for storage and cloud data management, including block storage, file storage and object storage.


    </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 3.Database: Google Cloud offers a range of basic services from data, including relational databases, databases, NoSQL data and in-memory databases.


    </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 4.Networking:Google Cloud offers a range of networking services network, including virtual private clouds (VPCs), load balancers, charging and content delivery networks (CDN).

    </p>




    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 5.Security: Google Cloud offers a range of security services, including identity and access management, encryption and management vulnerabilities.

    </p>






    <p style="font-weight: 900;
    text-align: left; 
    color:#fff">6.Analytics: Google Cloud offers a range of analytics services, including data warehousing, big data processing and business intelligence.

    </p>







    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 7.AI and machine learning: Google Cloud offers a range of services machine learning, including training, deployment and management of machine learning models.

    </p>






    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 8.Internet of Things (IoT): Google Cloud offers a range of tools and resources to build and deploy IoT applications, including management devices, data analysis and connectivity.

    </p>






    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 9.DevOps: Google Cloud offers a range of tools and resources to help developers build, test and deploy applications in the cloud, including continuous integration, delivery and deployment. Some of the services offered by Google Cloud include:

    </p>








    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 10.Mobile: Google Cloud offers a range of tools and resources for create and deploy mobile applications, including data storage, push notifications and analytics.
    </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 11.Web and application development: Google Cloud provides a range of tools and resources to build and deploy web and application servers, including including web servers, application servers and environments of execution.

    </p>

    <center>
        <a class="button" href="/list">Go back</a>
    </center>