<head>
    <link rel="stylesheet" href="m.css" type="text/css" />
    <link rel="stylesheet" href="f.css" type="text/css" />

    <img src="cloud.png" width="300px" height="300px" />
    <style>
        .button {
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 20px;
            letter-spacing: 4px;
            position: relative;
            background-color: #16a085;
            border: none;
            color: #fff;
            padding: 20px;
            width: 200px;
            text-align: center;
            transition-duration: 0.4s;
            overflow: hidden;
            box-shadow: 0 5px 15px #193047;
            border-radius: 4px;
        }
        
        .button:hover {
            background: #fff;
            box-shadow: 0px 2px 10px 5px #1abc9c;
            color: #000;
        }
        
        .button:after {
            content: "";
            background: #97b4ae;
            display: block;
            position: absolute;
            padding-top: 300%;
            padding-left: 350%;
            margin-left: -20px !important;
            margin-top: -120%;
            opacity: 0;
            transition: all 0.8s
        }
        
        .button:active:after {
            padding: 0;
            margin: 0;
            opacity: 1;
            transition: 0s
        }
        
        .button:focus {
            outline: 0;
        }
    </style>
</head>

<body>
    <p style="font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center; 
    color:#fff">IBM Bluemix

    </p>

    <div class="flip">
        <div class="front" style="background-image: url(ibmm.jpg)">
            <h1 class="text-shadow">IBM</hi>
        </div>
        <div class="back">
            <h2>IBM</h2>


        </div>
    </div>
    <p style="font-weight: 700;
    color:#fff;
    text-align: left; 
    ">
        IBM Bluemix is a cloud computing tool that combines the platform as as a service with infrastructure as a service, it was developed by IBM. He allows the use of several programming languages and services with DevOps-like tools. </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff">Bluemix was announced for a public beta in February 2014 after having been developed since early 2013. Bluemix was based on the open source project Cloud Foundry and ran on the SoftLayer infrastructure. IBM announced the general availability of Bluemix
        Platform-as-a-Service (PaaS) in July 2014
    </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff">IBM beat the high and low numbers and raised its forecast of revenue growth for 2022.

    </p>
    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> IBM ended the first quarter with $10.8 billion in cash available, up $3.2 billion from year-end 2021. Debt, including IBM financing debt of $12.2 billion dollars, totaled $54.2 billion, up $2.5 billion since the end of 2021.


    </p>
    <p style="font-weight: 900;
    text-align: center; 
    color:#fff"> IBM Bluemix is available in a number of regions around the world, notably :

    </p>


    <center>
        <img src="ibm.jpg" />

    </center>

    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> United States: Bluemix is available in several regions of the United States, including Dallas, Washington D.C. and San Francisco.
    </p>
    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> Europe: Bluemix is available in several regions of Europe, including London, Frankfurt and Paris.
    </p>
    <p style="font-weight: 900;
    text-align: left; 
    color:#fff">Asia: Bluemix is available in several regions of Asia, including Mumbai, Sydney and Tokyo.
    </p>
    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> Canada: Bluemix is available in several regions of Canada, including Toronto and Montreal.
    </p>
    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> South America: Bluemix is available in several regions of South America. South, notably Sao Paulo and Rio de Janeiro.
    </p>
    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> United States: Bluemix is available in several regions of the United States, including Dallas, Washington D.C. and San Francisco.Australia: Bluemix is available in several regions of Australia, including Sydney and Melbourne.
    </p>



    <p style="font-weight: 900;
    text-align: center; 
    color:#fff"> IBM Bluemix offers a variety of cloud computing services, including:


    </p>




    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 1. Compute: Bluemix provides a range of options for running cloud applications including virtual servers, containers and serverless functions.

    </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 2.Data and analytics: Bluemix offers a range of storage and data management, including databases, data lakes data and analysis tools.

    </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 3.Networking: Bluemix provides tools and resources to create and deploy applications in the cloud, including load balancers load, VPNs and DNS.

    </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 4.Security: Bluemix offers a range of security services to help protect applications and data in the cloud, including management identity and access, encryption and vulnerability management.
    </p>




    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 5.Integration: Bluemix provides a range of tools and resources for integrate applications with other systems and services, including APIs, connectors and integrations with tools and frameworks popular development.
    </p>






    <p style="font-weight: 900;
    text-align: left; 
    color:#fff">6.AI and machine learning: Bluemix offers a range of services artificial intelligence and machine learning, including natural language processing, image recognition and analysis predictive.
    </p>







    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 7.Internet of Things (IoT): Bluemix offers a range of tools and resources to build and deploy IoT applications, including management devices, data analysis and connectivity.
    </p>






    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 8.DevOps: Bluemix provides a range of tools and resources to help developers to build, test, and deploy applications in the cloud, including including continuous integration, delivery and deployment.
    </p>






    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 9.Mobile: Bluemix offers a range of tools and resources to create and deploy mobile applications, including data storage, push notifications and analytics.
    </p>








    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 10.Web and application development: Bluemix provides a range of tools and resources to build and deploy web and application servers, including including web servers, application servers and execution environments.



    </p>

    <center>
        <a class="button" href="/list">Go back</a>
    </center>