<head>
    <link rel="stylesheet" href="m.css" type="text/css" />
    <link rel="stylesheet" href="f.css" type="text/css" />

    <img src="cloud.png" width="300px" height="300px" />
    <style>
        .button {
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 20px;
            letter-spacing: 4px;
            position: relative;
            background-color: #16a085;
            border: none;
            color: #fff;
            padding: 20px;
            width: 200px;
            text-align: center;
            transition-duration: 0.4s;
            overflow: hidden;
            box-shadow: 0 5px 15px #193047;
            border-radius: 4px;
        }
        
        .button:hover {
            background: #fff;
            box-shadow: 0px 2px 10px 5px #1abc9c;
            color: #000;
        }
        
        .button:after {
            content: "";
            background: #97b4ae;
            display: block;
            position: absolute;
            padding-top: 300%;
            padding-left: 350%;
            margin-left: -20px !important;
            margin-top: -120%;
            opacity: 0;
            transition: all 0.8s
        }
        
        .button:active:after {
            padding: 0;
            margin: 0;
            opacity: 1;
            transition: 0s
        }
        
        .button:focus {
            outline: 0;
        }
    </style>
</head>

<body>
    <p style="font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center; 
    color:#fff">Microsoft Azure

    </p>

    <div class="flip">
        <div class="front" style="background-image: url(azure.png)">
            <h1 class="text-shadow">Microsoft Azure</hi>
        </div>
        <div class="back">
            <h2>Microsoft Azure</h2>


        </div>
    </div>
    <p style="font-weight: 700;
    color:#fff;
    text-align: left; 
    ">
        Microsoft azure is a cloud provider that provides various platforms in as a service (PAAS) and infrastructure as a service (IAAS), azure offers cloud solutions to all infrastructure problems by providing services in various fields. </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff">Microsoft azur was announced in October 2008 and released on February 1, 2010 as the name windows azure and later named microsoft azure on March 25, 2015.
    </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff">Microsoft Azure is present in 140 countries and continues to expand as: (North America,South America,Europe)

    </p>



    <center>
        <img src="azu.png" />

    </center>

    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> Nearly 95% of fortune 500 companies use azure and it's 5 times cheaper than aws in terms of windows and sql server.

    </p>





    <p style="font-weight: 900;
    text-align: left; 
    color:#fff">Microsoft Azure is expected to grow the market size by 10 trillion dollars over the next 10 years. When it comes to forecasts, 80% of companies will shift their load to the cloud by 2025.


    </p>



    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> Microsoft Azure a platform that allows users to use the cloud computing designed to build and manage applications through the data center Microsoft.
    </p>

    <p style="font-weight: 900;
    text-align: center; 
    color:#fff"> We have different services like:
    </p>
    <p style="font-weight: 900;
    text-align: left; 
    color:#fff">1.Azure compute: (Virtual machines,Application services,Websites,Mobile services).

    </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 2.Azure Networking: In azure vnet is the networking tool that connects all resources azur together and used to manage virtual private networks.

    </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 3.Azure storage: Provides more durable storage solutions and large-scale applications scale.Azure automatically scales storage needs based on use.

    </p>


    <p style="font-weight: 900;
    text-align: left; 
    color:#fff"> 4. Azure database Provides a scalable and highly available database server.
    </p>









    <p style="font-weight: 900;
    text-align: left; 
    color:#fff">The cost of use:
    </p>



    <center>
        <img src="cost.png" />

    </center>


    <center>
        <a class="button" href="/list">Go back</a>
    </center>